@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Intro Section ======= -->
<div id="home" class="intro route bg-image" style="background-image: url(/Content/img/pond_sunset.JPG)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="intro-title mb-4">I am Ben Slenker</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Full Stack Developer,Farmer's Farmer,Web Developer,Man's Man,Frontend Developer,Mid-Tier Developer,Back-End Developer</span><strong class="text-slider"></strong></p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="~/Content/img/me headshot.png" class="img-fluid rounded b-shadow-a" alt="headshot of Ben Slenker">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Ben Slenker</span></p>
                                            <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skills</p>
                                    <span>HTML</span> <span class="pull-right">95%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>CSS3</span> <span class="pull-right">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>MVC</span> <span class="pull-right">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>JAVASCRIPT</span> <span class="pull-right">80%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>C#</span> <span class="pull-right">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>SQL</span> <span class="pull-right">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        For the past 15 years, I have been in Law Enforcement and military related fields as a lead instructor for many disciplines. One of my disciplines was being a field training officer. As a field training officer, I had to teach our new officers all aspects of our job to include the many aspects of our technology. Technology has always been an interest of mine since a young age. The technology career field is a perfect fit for me due to my drive to always better myself.
                                    </p>
                                    <p class="lead">
                                        I'm a highly motivated professional with great critical thinking and teamwork skills gained from experience working in high-stress environments.  I have a solid foundational knowledge of designing and developing full-stack web applications using .NET framework. My technical skills range all three tiers of software development: Font End, Middle Tier, and Back End.
                                        
                                    </p>
                                    <p class="lead">
                                        In my free time I enjoy spending time with my wife as we work on our small farm raising livestock, different heirloom vegetables and restoring our 1937 farmhouse. I am also an aspiring HAM radio operator working towards my license.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Projects Section ======= -->
    <section id="service" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Projects
                        </h3>
                        <p class="subtitle-a">
                            A few of my projects...
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-monitor"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Front End</h2>
                            <p class="s-description text-center">
                                Front End Development Studio Project
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-code-working"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Middle Tier</h2>
                            <p class="s-description text-center">
                                C# dungeon game.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-camera"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Back End</h2>
                            <p class="s-description text-center">
                                Store Front Application Project
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Counter Section ======= -->
    <!--<div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">450</p>
                <span class="counter-text">WORKS COMPLETED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">15</p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-people"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">550</p>
                <span class="counter-text">TOTAL CLIENTS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">36</p>
                <span class="counter-text">AWARD WON</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- End Counter Section -->
    <!-- ======= Links Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            LINKS
                        </h3>
                        <p class="subtitle-a">
                            Links to my fellow classmates sites and other sites of my interest.
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/BryanCthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/BryanCthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Brain CLingan</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.bryandoescode.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/DavidMthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/DavidMthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">David Muolo</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.davidmuolo.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/DillonFthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/DillonFthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Dillon Fisher</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.dillonfisher.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/JamesGthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/JamesGthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">James Glover</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.codingbyjames.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/JeremySthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/JeremySthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Jeremy Sidener</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.jeremysidener.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/RachelMthumbpicture.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/RachelMthumbpicture.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Rachel Mantei</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.rachelmantei.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/classmates/DylanSthumbpicure.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/classmates/DylanSthumbpicure.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Dylan Schwarz</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Full Stack Web Designer</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="http://www.dylanschwarz.com"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/GitHub img.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/GitHub img.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">GitHub</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Repository hosting</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://github.com/bslenker" target="_blank"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/Content/assets/img/W3Schools img.jpg" data-gall="portfolioGallery" class="venobox">
                            <div class="work-img">
                                <img src="~/Content/assets/img/W3Schools img.jpg" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">W3Schools</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Online Web Tutorials</span> / <span class="w-date">01 Mar 2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="https://www.w3schools.com/" target="_blank"> <span class="ion-ios-plus-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Testimonials Section =======
    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="testimonial-mf" class="owl-carousel owl-theme">
              <div class="testimonial-box">
                <div class="author-test">
                  <img src="assets/img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                  <span class="author">Xavi Alonso</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                  </p>
                  <span class="comit"><i class="fa fa-quote-right"></i></span>
                </div>
              </div>
              <div class="testimonial-box">
                <div class="author-test">
                  <img src="assets/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                  <span class="author">Marta Socrate</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                  </p>
                  <span class="comit"><i class="fa fa-quote-right"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> End Testimonials Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="blog-mf sect-pt4 route">
        <div class="container">

            <div class="title-box text-center">
                <h2 class="title-a">Resume</h2>
                <p class="subtitle-a">Over 15 years of combined civilian and military law enforcement leadership experience. Solid foundational knowledge of designing and developing full-stack web applications using .NET framework. Highly motivated professional with great critical thinking and teamwork skills gained from experience working in high-stress environments.</p>
                <div class="line-mf"></div>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Ben Slenker</h4>
                        <p><em>FULL-STACK DEVELOPER</em></p>
                        <ul>
                            <li>Kansas City, MO</li>
                            <li>bslenker@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Centriq</h4>
                        <h5>2019-2020</h5>
                        <p><em>Kansas City, MO</em></p>
                        <p>Full Stack Web Development: C#, Bootstrap, JavaScript, HTML, CSS, AngularJS, .NET MVC Framework, SQL, jQuery</p>
                        <ul>
                            <li>Trouble shooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum</li>
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                        </ul>
                        <p><strong>Independent Development Projects:</strong></p>
                        <ul>
                            <li><strong>StoreFront:</strong> Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                            <li><strong>S.A.T. Scheduling Administration Tool:</strong> Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments</li>
                            <li><strong>Final Project:</strong>  Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage employee, department data and all details relating to assigned hardware and software.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Science, Sociology </h4>
                        <h5>2000 - 2005</h5>
                        <p><em>Kansas State University, Manhattan, KS</em></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Police Officer</h4>
                        <h5>2005 - 2020</h5>
                        <p><em>Leawood, KS </em></p>
                        <ul>
                            <li>Served in the Patrol Division as a Field Training Officer. Trained and evaluated new officers in all aspects of work from traffic stops, use of force, and report writing.</li>
                            <li>Traffic Management Unit member as an Advanced Crash Investigator.  Led the creation of the department's first Major Crash Investigation Unit of eight members with purchasing of equipment and training over $20,000 dollars.</li>
                            <li>Member of the police department's Honor Guard, Canine Decoy team, Defensive Tactics Instructor, High-Risk Vehicle Stop Instructor, and Field Force Operations Instructor.</li>
                            <li>Served as a Staff Member of the Johnson County Regional Police Academy for four years, instructed in Use of Force and Defensive Tactics to over 200 recruits.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Missouri Air National Guard</h4>
                        <h5>2014-2021</h5>
                        <p><em>Security Forces, Combat Arms Instructor</em></p>
                        <ul>
                            <li>Distinguished service as Armory Noncommissioned Officer in Charge while deployed.</li>
                            <li>Managed two armories, led four personnel while maintaining 110,000 rounds of ammunition and 830 weapons valued at over one million dollars while also serving in eight additional duty positions.</li>
                            <li>Coordinated with Naval Facilities Engineering Command and vendor to meet requirements for storage limitations, staying under the $250,000 dollar threshold.</li>
                            <li>First in Area of Responsibility to be Security Forces Squadron’s Communication Security Responsible Officer (COMSEC RO).  </li>
                            <li>Led and installed COMSEC program for air to ground encrypted communications.</li>
                            <li>Coordinated with four squadrons to achieve operational status and designated timely re-key of cryptography of over 150 radios.</li>
                            <li>Advanced Designated Marksman Team Lead, requiring attention to detail under high stress and fast processing of situations to make the correct decision without influence from the chain of command.</li>
                            <li>Team Lead of 60 Airman at Security Forces Academy.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Awards and Decorations</h4>
                        <ul>
                            <li>2020 – The Air Force Commendation Medal, 9th Air Force Central Command</li>
                            <li>2019 – The Air Force Achievement Medal, 139th Airlift Wing, Missouri ANG</li>
                            <li>2018 – John L. Levitow Award: for the highest degree of excellence as a Leader and a Scholar, Airman Leadership School</li>
                            <li>2016 – Airman of the Year, 139th Security Forces Squadron</li>
                            <li>2016 – German Armed Forces Proficiency Badge – Gold</li>
                            <li>2015 – Honor Graduate, Basic Military Training</li>
                            <li>2015 – Small Arms Expert Ribbon</li>
                            <li>2015 – Airman of the Year, 139th Security Forces Squadron</li>
                            <li>2015 – German Armed Forces Proficiency Badge – Gold</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Contact Section ======= -->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/Content/assets/img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Get in Touch
                                        </h5>
                                    </div>
                                    <div>
                                        <div class="more-info">
                                            <p class="lead">
                                                Lets connect.
                                            </p>
                                            <div id="contactForm">
                                                @Html.Partial("ContactAjax", new PersonalSite.UI.MVC.Models.ContactViewModel())
                                            </div>
                                            <div id="contactConfirm">
                                                @Html.Partial("EmailConfirm", new PersonalSite.UI.MVC.Models.ContactViewModel())
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">
                                            Contact Us
                                        </h5>
                                    </div>
                                    <div class="more-info">
                                        <p class="lead">
                                            Lets connect.
                                        </p>
                                        <div id="map" class="container-map">
                                            <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.2748849984255!2d-94.60958528438249!3d38.96339085065597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925e366ed0f%3A0x73aec4617abd2f03!2sCentriq%20Training!5e0!3m2!1sen!2sus!4v1612405241709!5m2!1sen!2sus" width="450" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                        <ul class="list-ico">
                                            <li><span class="ion-ios-location"></span> 1740 W 92 St, Kansas City, MO 64114</li>
                                            <li><span class="ion-ios-telephone"></span> (816) 899-2346</li>
                                            <li><span class="ion-email"></span> admin@benslenker.com</li>
                                        </ul>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href="https://www.linkedin.com/in/bslenker/" target="_blank" rel="noopener noreferrer"><span class="ico-circle"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->